body::-webkit-scrollbar { 
    display: none; 
}

html, body {
    margin: 0;
    padding: 0;
}

#page1 {
    background-image: url("../Images/titlePage.png");
    background-size: contain;
    position: relative;
    top: 2vw;
    left: 2vw;
    height: Calc(100vh - 4vw);
    width: Calc(100vw - 4vw);
    text-align: center;
    line-height: Calc(100vh - 4vw);
    vertical-align: middle;
}

#page2 {
    background-image: url("../Images/teal-background.png");
}

#page3 {
    background-image: url("../Images/Student Support.png");
    background-size: cover;
}

#page4 {
    background-image: url("../Images/starry-background.png");    
}

#page5 {
    background-image: url("../Images/peers-connect.png");
    background-size: cover; 
}

.commonAmongPages {
    position: relative;
    left: 0;
    top: 10vh;
    height: 100vh;
    width: 100vw;
}

#moodleLink {
    margin: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#moodleImage {
    margin: 0;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

#page2Menu {       
    background-color: rgba(0, 100, 125, 0.9);
    height: Calc(100vh - 4vw);
    width: Calc(100vw - 4vw);  
    top: 2vw;
    left: 2vw;
}

.toggleMenu {
    position: absolute;   
}

.circle {
    border-radius: 100%;
    height: Calc(100vh * 4/5);
    width: Calc(100vh * 4/5);
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.littleCircle {
    position: absolute;
    border-radius: 100%;
    border: teal 0.25vw solid;
    height: 8vw;
}

#CICCircle1 {
    top: 0vh;
    left: 16.25vw;
}

#CICCircle2 {
    top: 10vh;
    left: 28vw;
}

#CICCircle3 {
    top: 32vh;
    left: 32.5vw;
}

#CICCircle4 {
    top: 54vh;
    left: 28vw;
}

#CICCircle5 {
    top: 64vh;
    left: 16.25vw;
}

#CICCircle6 {
    top: 54vh;
    left: 4.5vw;
}

#CICCircle7 {
    top: 32vh;
    left: 0vw;
}

#CICCircle8 {
    top: 10vh;
    left: 4.5vw;
}

#page2Menu, #CICscroll, #DAC5scroll, #DAC6scroll, #BSCscroll, #extscroll,
 #CIC1Page, #CIC2Page, #CIC3Page, #CIC4Page, #CIC5Page, #CIC6Page, #CIC7Page, #CIC8Page {    
    display: none;
}

#CICscroll, #DAC5scroll, #DAC6scroll, #BSCscroll, #extscroll {
    background-color: rgba(0, 100, 125, 1);
    height: 100vh;
    width: 100vw;
    top: -2vw;
    left: -2vw;
}

#CIC1Page, #CIC2Page, #CIC3Page, #CIC4Page, #CIC5Page, #CIC6Page, #CIC7Page, #CIC8Page {
    background-color: rgba(0, 150, 200, 1);
    height: 100vh;
    width: 100vw;
    top: 0vw;
    left: 0vw;
}

#coursesNButton {
    position: absolute;
    top: 0;
    right: 0;
    margin: 3vw;
}

#courses {
    width: 10vw;
    height: 5vw;
    min-width: 80px;   
    min-height: 60px; 
}

.buttons {
    width: 5vw;
    min-width: 50px;
}

#closeButton {
    position: absolute;
    top: 1vw;
    right: 1vw;
}

#closeButton2, #closeButton3, #closeButton4, #closeButton5, #closeButton6 {
    position: absolute;
    top: 3vw;
    right: 3vw;
}

#backButton1, #backButton2, #backButton3, #backButton4, #backButton5, 
#backButton11, #backButton12, #backButton13, #backButton14, #backButton15, #backButton16, #backButton17, #backButton18 {
    position: absolute;
    top: 3vw;
    left: 3vw;
}

.classes {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.courseLinks {
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
}

#CIC {
    top: Calc(100vh/12);
}

#DAC5 {
    top: Calc(100vh/12 * 3);
}

#DAC6 {
    top: Calc(100vh/12 * 5);
}

#BSC {
    top: Calc(100vh/12 * 7);
}

#extraHelp {
    top: Calc(100vh/12 * 9);
}

.supportHeadings {
    background-color: rgba(0, 150, 180, 1);
    border-radius: 3vw;
    border: 0.5vh solid rgb(0, 100, 150);
    position: absolute;
}

.page3Position {
    position: absolute;
}

#studentSupport {
    position: relative;
    left: 25vw;
    top: 4vw;
}

#supportStaff {
    right: 18vw;
    top: 40vh;
}

#bongardMap {
    right: 13vw;
    top: 52vh;
}

#socialMedia {
    right: 8vw;
    top: 64vh;
}

#yourVoice {
    right: 3vw;
    top: 76vh;
}

#helpYourself {
    position: relative;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

#withPeersDiv {
    position: relative;
    top: 60vh;
    left: 10vw;
}

#connect {  
    color: black;
    left: 0vw;
    top: 55vh;
    text-align: center;
}

#tickButton {
    width: 4vw;
    margin: 0 Calc(100vw/12 - 4vw);
}

.wordImages {
    user-select: none;
}